.displayflex{
    display:flex;
  }
  #wpwrap {
    width: 97%;
   
  }
  #export{
    position: absolute;
  top: -150px;
  left: 385px;
  }
  .modal-content{
    width:auto;
  }
.group{
display:flex;
flex-direction:row;

}
.modal-dialog .modal-content{
  width: 700px !important;
  text-indent: 50px !important;
}
#number{
  width: 100% !important;;

}
#first{
  color: red !important;;

}
#remail{
  color: red !important;;

}

